@font-face {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GongGothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    scroll-behavior: smooth;
}

html {
    scroll-padding-top: 100px;
}

body {
    margin: 0;
    padding: 0;
    color: #18230F;
}

h1, h2 {
    font-family: GongGothic, sans-serif;
    font-weight: 100;
}

#header {
    padding: 0 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
    background: #f9f9f9;
    height: 80px;
}

.subtitle {
    margin-left: auto;
    font-family: Pretendard Variable, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}

#nav {
    width: 100%;
    top: 0;
    padding-top: 20px;
    position: sticky;
    left: 50%;
    right: 50%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 3px 5px -2px gray;
    background: #f9f9f9;
    z-index: 99;
}

input[type="radio"] {
    display: none;
}

.nav-menu {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 70px;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.nav-item {
    font-size: 19px;
    font-family: GongGothic, sans-serif;
    font-weight: 100;
    background: #E5E4E2;
    padding: 10px 20px;
    border-radius: 20px;
    min-width: 8vw;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.nav-item > a {
    color: #18230F;
    text-decoration: none;
}

.nav-item:hover {
    opacity: 0.7;
    transition: 0.2s;
}

#content {
    width: 70%;
    margin: 0 auto;
}

section {
    margin: 30px 0;
    border: 1px solid #c8c8c8;
    padding: 10px 20px;
    border-radius: 20px;
    display: none;
}

section p {
    margin-top: -10px;
    font-family: Pretendard Variable, sans-serif;
    font-weight: 300;
}

#tab1:checked ~ #content #section-1,
#tab2:checked ~ #content #section-2,
#tab3:checked ~ #content #section-3,
#tab4:checked ~ #content #section-4 {
    display: block;
}

#tab1:checked ~ #nav .nav-menu label[for="tab1"],
#tab2:checked ~ #nav .nav-menu label[for="tab2"],
#tab3:checked ~ #nav .nav-menu label[for="tab3"],
#tab4:checked ~ #nav .nav-menu label[for="tab4"] {
    background: rgb(255, 253, 231);
    color: black;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
    transition: 0.2s;
    line-height: 26px;
}

ul, ol {
    margin-top: -15px;
    font-weight: 300;
}

.section-title {
    margin-top: 10px;
    border-bottom: 2px solid #c8c8c8;
    padding: 10px 0;
    text-align: center;
    font-size: 35px;
}

.section-title-2 {
    margin-top: 15px;
    border-bottom: 2px solid #c8c8c8;
    padding: 10px 0;
    text-align: left;
}

#title-wrapper {
    display: flex;
    gap: 0;
    align-items: center;
}

.sns {
    display: flex;
    text-decoration: none;
    color: black;
    gap: 5px;
    align-items: center;
    margin-bottom: 5px;
    transition: 0.2s;
    max-width: 200px;
}

.sns[href] > code:hover {
    color: #F3F6AF !important;
    background: #0C0950 !important;
    transition: 0.2s;
}

.map-wrapper {
    margin: 0 auto;
    display: flex;
    border-radius: 20px;
    padding: 20px;
    width: 90%;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-content: center;
    background: rgb(255, 253, 231);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.map-wrapper a {
    text-decoration: none;
    font-family: Pretendard Variable, sans-serif;
    font-size: 20px;
    color: black;
    transition: 0.2s;
    width: 20%;
}

.section-article {
    font-family: Pretendard Variable, sans-serif;
    width: 95%;
    margin: 0 auto;
}

.section-article > ul {
    line-height: 25px;
}

.article-title {
    font-size: 25px;
    font-weight: 500;
}

.article-subtitle {
    font-size: 20px;
    font-weight: 500;
}

#map-image {
    border-radius: 50px;
}

.map-detail {
    display: none;
    width: 500px;
    margin: -650px auto 0;
    line-height: 650px;
    pointer-events: none;
    text-align: center;
}

.map-wrapper a:hover {
    opacity: 0.5;
    transition: 0.2s;
    z-index: -1;
}

.map-wrapper a:hover .map-detail {
    display: block;
}

#height-map {
    margin-top: 40px;
    height: 125px;
    background-image: url("https://seoulcitywall.seoul.go.kr/image.do?file=/wallcourse/info/2accb578-5e7f-491a-9da1-8457571945b6_0.jpg");
    text-align: center;
    border-radius: 10px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.gallery-item img {
    width: 90%;
    height: 11vw;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
    image-rendering: smooth;
    transform: translateZ(0);
    backface-visibility: hidden;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

.article-wrapper {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.article-wrapper > .section-article {
    width: 45%;
}

.section-article > p {
    line-height: 25px;

}

.article-description {
    padding-left: 20px;
}

code {
    font-family: Pretendard Variable, sans-serif;
    font-size: 16px;
    background: rgb(235, 233, 231);
    padding: 2px 7px;
    border-radius: 5px;
    color: #0C0950;
    font-weight: 400;
}

.sub-section {
    background: rgb(255, 253, 231);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 15px;
    margin: 30px 0 40px;
}

.lefter {
    padding-left: 10px;
}

#wrapper {
    height: auto;
}

#footer {
    height: 120px;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 -3px 5px -2px gray;
    background: #30313d;
    position: relative;
    transform: translateY(0);
    text-align: center;
    padding-bottom: 20px;
    color: white;
    font-family: Pretendard Variable, sans-serif;
}

.footer-title {
    font-family: Pretendard Variable, sans-serif !important;
    font-size: 25px;
    font-weight: 500;
}

.footer-subtitle {
    font-family: Pretendard Variable, sans-serif !important;
    font-size: 18px;
    margin-top: -10px;
    font-weight: 300;
}

.intro-wrapper {
    display: flex;
    width: 95%;
    margin: 0 auto 150px;
    font-family: Pretendard Variable, sans-serif;
    font-size: 18px;
    justify-content: center;
    gap: 20px;
}

.introduction {
    width: 35%;
    line-height: 27px;
}

.introduction ul {
    margin-top: 0;
}

